/*		+----------------------+	*/
/*		|			PANE 	   |	*/
/*		+----------------------+	*/	
/*anchor pane*/
AnchorPane {
	-fx-background-color: #37474f;
	-fx-border-color: none;
}
/*grid pane*/
.grid-pane{
	-fx-background-color: #37474f;
	-fx-border-color: none;
}
/*split-pane*/
.split-pane{
	-fx-background-color:#37474f;
}
.split-pane-divider{
	-fx-border-color:transparent #37474f transparent #37474f;
	-fx-background-color:transparent, derive(#37474f, 20%);
}

/*		+-----------------------+	*/
/*		|	  	  BUTTON 		|	*/
/*		+-----------------------+	*/	

/*button*/
.button{
	-fx-background-color: #2C98D4;
	-fx-text-base-color:#FFFFFF;
	-fx-background-radius:0px;
}

/*		+-----------------------+	*/
/*		|		TEXT FIELD 		|	*/
/*		+-----------------------+	*/	

/*text*/
.text-field{
	-fx-text-base-color:#37474f;
	-fx-background-radius:0px;
}

/*		+-----------------------+	*/
/*		|		  LABEL 		|	*/
/*		+-----------------------+	*/

.label{
	-fx-text-fill:#FFFFFF;
}

.choice-box{
	-fx-background-color: derive(#37474f,20%);
}
 
.choice-box .text {
	-fx-fill:#FFFFFF;
}

/*		+-----------------------+	*/
/*		|		TABLE VIEW		|	*/
/*		+-----------------------+	*/
.table-view{
    -fx-background-color: #37474f;
    -fx-text-fill:#ffffff;
}
.table-view .column-header{
	-fx-background-color:derive(#37474f, 20%);
	-fx-text-fill:#ffffff;
}
.table-view .column-header .label{
	-fx-background-color:derive(#37474f, 20%);
	-fx-text-fill:#ffffff;
	-fx-border-color:derive(#37474f, 20%);
	-fx-border-width:5;
}
.table-view .label{
    -fx-text-fill:#ffffff;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}