/*		+----------------------+	*/
/*		|			PANE 	   |	*/
/*		+----------------------+	*/	
/*anchor pane*/
AnchorPane {
	-fx-background-color: #37474f;
	-fx-border-color: none;
}
/*grid pane*/
.grid-pane{
	-fx-background-color: #37474f;
	-fx-border-color: none;
}
/*split-pane*/
.split-pane{
	-fx-background-color:#37474f;
}
.split-pane-divider{
	-fx-border-color:transparent #37474f transparent #37474f;
	-fx-background-color:transparent, derive(#37474f, 20%);
}

/*		+-----------------------+	*/
/*		|	  	  BUTTON 		|	*/
/*		+-----------------------+	*/	

/*button*/
.button{
	-fx-background-color: #2C98D4;
	-fx-text-base-color:#FFFFFF;
	-fx-background-radius:0px;
}

.button:hover{
    -fx-background-color: #1976d2;
}
 
.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: white;
  -fx-text-fill: #ef6c00;
}
 
.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
 
.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}
 
.button:default:hover{
    -fx-background-color: #219297;
}

/*		+-----------------------+	*/
/*		|		TEXT FIELD 		|	*/
/*		+-----------------------+	*/	

/*text*/
.text-field{
	-fx-text-base-color:#37474f;
	-fx-background-radius:0px;
}

/*		+-----------------------+	*/
/*		|		  LABEL 		|	*/
/*		+-----------------------+	*/

.label{
	-fx-text-fill:#FFFFFF;
}

.choice-box{
	-fx-background-color: derive(#37474f,20%);
}

.choice-box:hover{
	-fx-background-color: derive(#37474f,30%);
}

.choice-box .text {
	-fx-fill:#FFFFFF;
}
/*		+-----------------------+	*/
/*		|		MENU BAR		|	*/
/*		+-----------------------+	*/

.menu-bar{
	-fx-background-color:derive(#37474f,30%);
}

/*		+-----------------------+	*/
/*		|		TABLE VIEW		|	*/
/*		+-----------------------+	*/

.table-view{
    -fx-background-color: #37474f;
    -fx-text-fill:#ffffff;
}
.table-view .table-column:hover{
    -fx-background-color: derive(#37474f,30%);
}
.table-view .column-header{
	-fx-background-color:derive(#37474f, 20%);
	-fx-text-fill:#ffffff;
}
.table-view .column-header .label{
	-fx-background-color:derive(#37474f, 20%);
	-fx-text-fill:#ffffff;
	-fx-border-color:derive(#37474f, 20%);
	-fx-border-width:5;
}
.table-view .label{
    -fx-text-fill:#ffffff;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/*		+-----------------------+	*/
/*		|		DATE PICKER		|	*/
/*		+-----------------------+	*/

.date-picker{
	-fx-background-radius:0px;
}

.date-picker-popup{
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: blue;
}

.date-picker-popup .current-date {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: green;
}

.date-picker .arrow-button {
	-fx-background-color: ;
	-fx-background-radius: 0px;
}

.date-picker .button {
	-fx-background-color: blue;
	-fx-background-radius: 0px;
}


.date-picker .text-field {
	-fx-background-color: -fx-control-inner-background;
	-fx-background-radius: 0px;
}

.date-picker:contains-focus {
	-fx-background-color: -fx-focus-color;
	-fx-background-radius: 0px;

}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
	-fx-background-color: 
		-fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-radius: 0px;
}

.date-picker:contains-focus .arrow-button {
    -fx-background-color: -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-radius: 0px;

}