/*		+----------------------+	*/
/*		|			PANE 	   |	*/
/*		+----------------------+	*/	
/*anchor pane*/
AnchorPane {
	-fx-background-color: #37474f;
	-fx-border-color: none;
}

/*border pane*/
BorderPane{
    -fx-background-color: #37474f;
    -fx-border-color: none;
}

/*grid pane*/
.grid-pane{
	-fx-background-color: #37474f;
	-fx-border-color: none;
}
.grid-pane .label{
	-fx-text-base-color:#000000;
}

/*split-pane*/
.split-pane{
	-fx-background-color:#37474f;
}
.split-pane-divider{
	-fx-border-color:transparent #37474f transparent #37474f;
	-fx-background-color:transparent, derive(#37474f, 20%);
}

/*table pane*/

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: derive(#37474f, 60%);
    -fx-text-base-color:#FFFFFF;
    -fx-font-size:15px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-color: -fx-hover-base;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #37474f;
    -fx-text-base-color:#ffffff;
}

.tab-pane> .tab-header-area > .headers-region > .tab:hover{
    -fx-border: none;
}

.tab-pane> .tab-header-area > .headers-region > .tab:hover{
    -fx-background-color:derive(#37474f,20%);
    -fx-border: none;
}

.tab-pane> .tab-header-area > .headers-region > .tab:selected:hover{
	-fx-background-color:#37474f;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1, 1;
    -fx-border-color: #37474f;
    -fx-border: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: derive(#37474f, 30%);
}

.tab-pane:top > .tab-header-area {
    -fx-padding: 5 5 -1 5; /* 5 2 0 5 */
}

/* CONTROL BUTTONS */

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: #ffffff;
}

/*		+-----------------------+	*/
/*		|	  	  BUTTON 		|	*/
/*		+-----------------------+	*/	

/*button*/
.button{
	-fx-background-color: #1976d2;
	-fx-text-base-color:#FFFFFF;
	-fx-background-radius:0px;
}

.button:hover{
    -fx-background-color: derive(#1976d2, 20%);
}
 
.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: derive(#1976d2, 40%);
  -fx-text-fill: #FFFFFF;
}

#btmenu{
    -fx-background-color: derive(#37474f, 20%);
    -fx-text-base-color:#FFFFFF;
    -fx-background-radius:0px;
}

#btmenu:hover{
    -fx-background-color: #1976d2;
}

#btmenu:hover:pressed{
    -fx-background-color: derive(#1976d2, 40%);
    -fx-text-fill: #ffffff;
}

#btmenu:focused{
    -fx-background-color: derive(#1976d2, 15%);
    -fx-text-fill: #FFFFFF;
}

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
 
.button:default
{
    -fx-background-color: #1976d2;
    -fx-text-fill: #ffffff;
}
 
.button:default:hover{
    -fx-background-color: #1976d2;
}

/*		+-----------------------+	*/
/*		|		TEXT FIELD 		|	*/
/*		+-----------------------+	*/	

/*text*/
.text-field{
	-fx-text-base-color:#37474f;
	-fx-background-radius:0px;
}

.choice-box{
	-fx-background-color: derive(#37474f,20%);
}

.choice-box:hover{
	-fx-background-color: derive(#37474f,30%);
}

.choice-box .text {
	-fx-fill:#FFFFFF;
}
/*		+-----------------------+	*/
/*		|		MENU BAR		|	*/
/*		+-----------------------+	*/

.menu-bar{
	-fx-background-color:derive(#37474f,30%);
}

/*		+-----------------------+	*/
/*		|		TABLE VIEW		|	*/
/*		+-----------------------+	*/

.table-view .table-column:hover{
    -fx-background-color: derive(#37474f,30%);
}
.table-view .column-header{
	-fx-background-color:derive(#37474f, 20%);
	-fx-text-fill:#ffffff;
}
.table-view .column-header .label{
	-fx-background-color:derive(#37474f, 20%);
	-fx-text-fill:#ffffff;
	-fx-border-color:derive(#37474f, 20%);
	-fx-border-width:5;
}
.table-view .label{
    -fx-text-fill:#ffffff;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-view .column-header-background {
    -fx-background-color: derive(#37474f, 90%);
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
}
.table-view {
    -fx-base: derive(#37474f, 10%);
    -fx-control-inner-background: derive(#37474f, 10%);
    -fx-background-color: #37474f;
    -fx-text-fill:#ffffff;
}

/*		+-----------------------+	*/
/*		|		DATE PICKER		|	*/
/*		+-----------------------+	*/

.date-picker{
	-fx-background-radius:0px;
}

.date-picker-popup{
    -fx-padding: 0;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: derive(#37474f, 20%);
}

.date-picker .arrow-button {
	-fx-background-radius: 0px;
}

.date-picker .button {
	-fx-background-color: derive(#37474f, 20%);
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0px;
}


.date-picker .text-field {
	-fx-background-color: -fx-control-inner-background;
	-fx-background-radius: 0px;
}